{% load static %}
<div class="tab-pane fade" id="step3">
    <!-- Título -->
    <div class="row align-items-start justify-content-center" style="margin-top: -10px;">
        <h4 class="text-center text-primary">Hábitos</h4>
    </div>

    {% csrf_token %}

    <!-- Preguntas -->
    <div class="row align-items-start justify-content-center" style="margin-top: -50px; margin-left: 5px; margin-right: 5px;">
        <!-- Pregunta 1 -->
        <div class="col" style="background-color: #fcfbdc; border-radius: 15px; border: 2px solid #007BFF;">
            <label class="form-label" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">{{ form.PEER_PRESSURE.label }}</label>
            <div class="form-check form-switch row align-items-start justify-content-center" style="margin: 5px; margin-left: 30px; ">
                <input type="checkbox" class="form-check-input" id="id_PEER_PRESSURE" name="PEER_PRESSURE" style="transform: scale(1.5);">
                <label class="form-check-label" for="id_PEER_PRESSURE">Sí</label>
            </div>
            <p class="text-muted text-justify p-2" style="font-size: small; background-color: #dfdfdd; border-radius: 5px; border: 1px solid #c2c3c4; margin-top: -40px;">
                <img src="{% static 'images/peer-pressure.jpg' %}" alt="Consumo de cigarrillos" class="mb-3" style="height: 50px;">
                ¿Tiende a hacerle caso a lo que hacen o piden quienes le rodean?. ¿Ha sentido presión por parte de sus amigos o familiares para realizar alguna actividad?
            </p>
        </div>


        <div class="col-1"></div>

        <!-- Pregunta 2 -->
        <div class="col" style="background-color: #fcfbdc; border-radius: 15px; border: 2px solid #007BFF;">
            <label class="form-label" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">{{ form.ALCOHOL_CONSUMING.label }}</label>
            <div class="form-check form-switch row align-items-start justify-content-center" style="margin: 5px; margin-left: 30px; ">
                <input type="checkbox" class="form-check-input" id="id_ALCOHOL_CONSUMING" name="ALCOHOL_CONSUMING" style="transform: scale(1.5);">
                <label class="form-check-label" for="id_ALCOHOL_CONSUMING">Sí</label>
            </div>
            <p class="text-muted text-justify p-2" style="font-size: small; background-color: #dfdfdd; border-radius: 5px; border: 1px solid #c2c3c4; margin-top: -40px;">
                <img src="{% static 'images/alcohol.png' %}" alt="Consumo de cigarrillos" class="mb-3" style="height: 50px;">
                Marque la casilla si consume alcohol ya sea de forma esporádica o frecuente.
            </p>
        </div>
    </div>

    <!-- Botones -->
    <div class="d-flex align-items-start justify-content-center mt-4">
        <div class="col-4">
            <button type="button" class="btn btn-secondary" onclick="goToTab('step2')" style="width: 150px;">Atrás</button>
        </div>
        <div class="col-4">
            <a href="{% url 'home' %}" class="btn btn-primary" style="width: 150px;"><i class="bi bi-house"></i> Home</a>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary" onclick="goToTab('step4')" style="width: 150px;">Siguiente</button>
        </div>
    </div>
</div>
