<div class="tab-pane fade" id="step3" method="post">
    <div class="form-card shadow p-4 mx-auto" style="max-width: 600px;">
        <h4 class="text-center text-primary">Hábitos</h4>
        <form id="form-step3">
            {% csrf_token %}
            <!--Preguntas-->
            <div class="row mb-3 align-items-start justify-content-center">
                <div class="col-md-5">
                    <div class="form-label">{{ form.PEER_PRESSURE.label }}</div>
                    <div class="form-check">
                        {{ form.PEER_PRESSURE }}
                    </div>
                    <br>
                    <div>
                        <p class="text-muted text-center" style="font-size: small;">Mire los dedos con los que suele tomar el cigarrillo</p>
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="form-label">{{ form.ALCOHOL_CONSUMING.label }}</div>
                    <div class="form-check">
                        {{ form.ALCOHOL_CONSUMING }}
                    </div>
                    <br>
                    <div>
                        <p class="text-muted text-center" style="font-size: small;">Mire los dedos con los que suele tomar el cigarrillo</p>
                    </div>
                    
                </div>
            </div>
            
            <!-- Botones -->
            <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-secondary" onclick="prevTab('step2')">Atrás</button>
                <a href="{% url 'home' %}" class="btn btn-primary"><i class="bi bi-house"></i> Home</a>
                <button type="button" class="btn btn-primary" onclick="nextTab('step4')">Siguiente</button>
            </div>
        </form>
    </div>
</div>

