{% extends "base.html" %}

{% block title %}LungSafe - Bienvenida{% endblock %}

{% block content %}
{% load static %}

    <!-- Contenedor del cuadro de bienvenida -->
    <div class="container d-flex justify-content-center align-items-center" style="padding-top: calc(5px + 20px);">

        <!-- Cuadro de bienvenida -->
        <div class="welcome-box shadow-lg">
            <h1 class="text-primary text-center">Bienvenido a LungSafe</h1>
            <p class="text-muted text-center">Tu identificador de Cáncer Pulmonar</p>
            <p class="text-center">Diagnóstico temprano para mejorar tu calidad de vida. Haciendo este rápido análisis puedes saber la probabilidad de padecer esta enfermedad.</p>
        </div>
    </div>


    <!--Contenedor para opciones de formulario-->
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="row justify-content-center">
            <!-- Tarjeta 1 -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <img src="{% static 'images/formulario-ico.png' %}" alt="Icono 1" class="mb-3" style="height: 50px;">
                        <h5 class="card-title text-primary">Formulario guiado</h5>
                        <p class="card-text">Formulario para el ingreso de datos con ejemplos.</p>
                        <a href="{% url 'core:patient_data_form_guided' %}" class="btn btn-primary">IR</a>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 2 -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <img src="{% static 'images/formulario-ico-fast.png' %}" alt="Icono 2" class="mb-3" style="height: 50px;">
                        <h5 class="card-title text-primary">Formulario rápido</h5>
                        <p class="card-text">Formulario de llenado rápido para el ingreso de datos.</p>
                        <a href="{% url 'core:patient_data_form_fast' %}" class="btn btn-primary">IR</a>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 3 -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <img src="{% static 'images/tomografia.png' %}" alt="Icono 3" class="mb-3" style="height: 50px;">
                        <h5 class="card-title text-primary">Imágenes</h5>
                        <p class="card-text">No sé si funciones, pero aquí está la opción.</p>
                        <a href="#" class="btn btn-primary">IR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
{% endblock %}

