{% extends "base.html" %}

{% block title %}LungSafe - Bienvenida{% endblock %}

{% block content %}
    <div class="container vh-100 d-flex justify-content-center align-items-center position-relative" >
        <!-- Cuadro de bienvenida -->
        <div class="welcome-box shadow-lg p-5 rounded">
            <h1 class="text-primary text-center">Bienvenido a LungSafe</h1>
            <p class="text-muted text-center">Tu identificador de Cáncer Pulmonar</p>
            <p class="text-center">Diagnóstico temprano para mejorar tu calidad de vida. Haciendo este rápido análisis puedes saber la probabilidad de padecer esta enfermedad.</p>
            <div class="text-center">
                <a href="{% url 'core:patient_data_form' %}" class="btn btn-success btn-lg">Formulario guiado</a>
                <a href="{% url 'core:patient_data_form' %}" class="btn btn-success btn-lg">Formulario simple</a>
                <a href="{% url 'core:patient_data_form' %}" class="btn btn-success btn-lg">Ingreso de imágenes</a>
            </div>
        </div>
    </div>
{% endblock %}

