{% extends "base.html" %}

{% block title %}Historial de Predicciones{% endblock %}

{% block content %}
<div class="container"  style="margin-top: -40px;">
    <div class="mt-3 d-flex justify-content-around" >
        <!-- Botón para hacer otra predicción -->
        <a href="{% url 'core:predict' %}" class="btn btn-primary">Hacer otra predicción</a>
    
        <!-- Botón para volver a home -->
        <a href="{% url 'home' %}" class="btn btn-primary" style="width: 150px;"><i class="bi bi-house"></i> Home</a>
    
    </div>
    <h1 class="text-center"><br>Historial de Predicciones</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped" style="background-color: white; border-collapse: collapse; width: 100%; border-color: #2011ee;">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Categoría</th>
                    <th>Probabilidades</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in predictions %}
                <tr>
                    <td><img src="{{ prediction.image.url }}" alt="Predicción" style="max-height: 100px;"></td>
                    <td>{{ prediction.predicted_class }}</td>
                    <td>{{ prediction.probabilities }}</td>
                    <td>{{ prediction.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}