{% extends 'base.html' %}
{% load static %}

{% block title %}Resumen de los Datos Ingresados{% endblock %}

{% block content %}
<div class="container mt-0" style="max-width: 1000px;">
    <div class="shadow-sm p-4 mb-4 text-center" style="background-color: #f9f9f9; border-radius: 15px; border: 2px solid #007BFF;">
        <h2 class="text-center text-primary">Resumen de los Datos Ingresados</h2>
    </div>

    <div class="shadow-sm p-4 mb-4 text-center" style="background-color: #f9f9f9; border-radius: 15px; border: 2px solid #007BFF;">
        <ul>
            {% for key, value in patient_data.items %}
                <li>
                    {{ key }}: 
                    {% if value == 1 %}
                        Sí
                    {% elif value == 0 %}
                        No
                    {% else %}
                        {{ value }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    

    <form method="post" action="{% url 'core:process_guided_form' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Enviar Predicción</button>
    </form>
</div>
{% endblock %}
